@import url('https://fonts.googleapis.com/css?family=Raleway|Righteous');

:root {
	--primary: #34495e;
	--secondary: #ecf0f1;
	--font-title: 'Righteous',cursive;
	--font-body: 'Raleway',sans-serif;
}


/*General*/

html {
	background-color: var(--primary);
	color: var(--secondary);
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
p {
	color: var(--secondary) !important;
}

body {
	flex-direction: column;
	font-family: var(--font-body)
}


/*HEADER*/

.header {
	margin: 3rem 0;
}

.header>.header__app-title {
	font-size: 2.5rem;
	text-align: center;
	font-family: var(--font-title)
}


/*MAIN*/

main.container {
	padding-bottom: 3rem;
}


/*Form*/

.container__product-form {
	width: 80%;
	max-width: 24rem;
	margin: 0 auto;
}

.container__form-product__inputs {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.container__form-product__inputs section {
	margin: 0 .5rem;
}

.container__form-product__inputs__product-name,
.container__form-product__inputs__calculate-method {
	width: 100%;
}

.container__form-product__inputs__product-qtde {
	width: 30%;
}

.container__form-product__inputs__product-price {
	width: 50%;
}


.container__product-form__buttons {
	margin: 2rem .5rem;
}
.container__product-form__buttons i{
	margin: 0 .5rem;
}

/*List of Products*/

.container__product-list * {
	color: #34495e !important;
}

.container__product-list {
	width: 25rem;
	margin: 0 auto;
}

.container__product-list .list-header {
	font-weight: bold;
	font-size: 0.9rem;
	display: flex;
	justify-content: space-around;
	padding: 1rem .5rem .5rem;
	border-bottom: 1px solid var(--primary);
}

.container__product-list .list-header p {}

.container__product-list .list-content {
	font-size: 0.85rem;
	display: flex;
	flex-direction: column;
	height: 12rem;
	overflow: auto;
}

.container__product-list .list-content label {
	padding: .7rem 1rem;
}

.container__product-list .list-footer {
	padding: .5rem;
	font-weight: bold;
	text-align: right;
	font-size: 1.3rem;
	border-top: 1px solid var(--primary);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container__product-list .list-footer #btn-delete-itens>i {
	color: #fff !important;
}

.list-footer .button {
	margin: 0 1rem;
}

.list-footer__total {
	width: 100%;
}

.tooltiped {
	position: relative;
	z-index: 2;
	cursor: pointer;
}


.tooltiped:before {
	position: absolute;
	left: 120%;
	padding: 7px;
	border-radius: 3px;
	background-color: hsla(0, 0%, 20%, 0.9);
	color: #fff;
	content: attr(data-tooltip);
	text-align: center;
	font-size: .8rem;
	line-height: 1.2;
	transition: all .4s;
}

.tooltiped:after {
	position: absolute;
	left: 120%;
	margin-left: -5px;
	width: 0;
	border-right: 5px solid hsla(0, 0%, 20%, 0.9);
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
	transition: all .4s;
}

.hidden{
	opacity: 0;
}

@media screen and (min-width: 974px) {
	.container {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	/*.container__product-list {
		width: 500px;
	}*/
}
